* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myFont;
  src: url("/Sign-Up-Form/fonts/Norse.otf") format("opentype");
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
}

.side-bar {
  flex: 1;
  background: url(images/background.jpg);
}
